<!DOCTYPE html>
<html>
<head>
  <title>PrivateEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>
    <% unless logged_in? %>
      <%= link_to "Log in", login_path  %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "New event", new_event_path %>
      <%= link_to "Log out", logout_path, :method => :delete %>
      <%= link_to "All events", events_path %>
      <%= link_to "My profile", user_path(session[:user_id]) %>
    <% end %>
  </p>

  <% if logged_in? %>
    <p>
      Currently logged in user: <%= User.find(session[:user_id]).name %>
    </p>
  <% end %>
  

  <% flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
  <% end %>

<%= yield %>

  <%= debug(params) if Rails.env.development? %>
</body>
</html>
